@{
}

<link rel="stylesheet" href="~/css/Login.css">

<h2 class="other" style=" text-align: center">Login</h2>
@using (Html.BeginForm("Login", "Auth", FormMethod.Post))
{
    <table class="center other">
        <tbody>
            <tr>
                <td>
                    E-mail
                </td>

                <td>
                    <input type="text" name="Email" placeholder="E-mail" />
                </td>
            </tr>

            <tr>
                <td>
                    Heslo:
                </td>

                <td>
                    <input type="text" name="Password" placeholder="Heslo" />
                </td>
            </tr>
            <tr>
                <td>
                    <input class="product" type="submit" value="Log in"/>
                </td>
            </tr>
        </tbody>
    </table>
}
