@{
}

<link rel="stylesheet" href="~/css/Login.css">

<h2 style="text-align: center">Login</h2>

<form>
    <table class="center">
        <tbody>
            <tr>
                <td>
                    E-mail
                </td>

                <td>
                    <input type="text" placeholder="E-mail">
                </td>
            </tr>

            <tr>
                <td>
                    Heslo:
                </td>

                <td>
                    <input type="text" placeholder="Heslo">
                </td>
            </tr>
        </tbody>
    </table>
</form>
