@{
}

<link rel="stylesheet" href="~/css/Login.css">

<h2 style="text-align: center">Login</h2>

<h1>Register here:</h1><br/>

<form>
    <table class="center">
        <tbody>
            <tr>
                <td>
                    Jméno: 
                </td>

                <td>
                    
                </td>
            </tr>

            <tr>
                <td>
                    E-mail:
                </td>

                <td>
                    
                </td>
            </tr>

            <tr>
                <td>
                    Heslo:
                </td>

                <td>
                    
                </td>
            </tr>
        </tbody>
    </table>
</form>
