@model IEnumerable<DutyFreePraxe.Models.Users>

@{
}

<link rel="stylesheet" href="~/css/Login.css">

<h2 style="text-align: center">Login</h2>

<h1>Register here:</h1><br/>

<form action="@Url.Action("Insert")" method="post">
    <table class="center">
        <tbody>
            <tr>
                <td>
                    Jméno: 
                </td>

                <td>
                    <input type="text" name="Name" placeholder="Jméno"> <!--Name-->
                </td>
            </tr>

            <tr>
                <td>
                    E-mail:
                </td>

                <td>
                    <input type="text" name="Email" placeholder="E-mail"> <!--Mail-->
                </td>
            </tr>

            <tr>
                <td>
                    Heslo:
                </td>

                <td>
                    <input type="text" name="Password" placeholder="Heslo"> <!--Password-->
                </td>
            </tr>
            <tr>
                <td>
                        <input class="product" type="submit" value="Submit" /> <!--Submit button-->
                </td>
            </tr>
        </tbody>
    </table>
</form>
