@model IEnumerable<DutyFreePraxe.Models.Users>

<h1 style="text-align: center">List of registered users:</h1><br/>
<table class="table other">
            <tr>
                <th>
                    Jméno:
                </th>
                <th>
                    Obrazek (WIP):
                </th>
                <th>
                    Email:
                </th>
                <th>
                    Heslo:
                </th>
            </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img height="100" src=@Html.DisplayFor(modelItem => item.ImageUrl) />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
            </tr>
        }
</table>