@* @model DutyFreePraxe.Models.Products *@

@* import model as an array *@
@model IEnumerable<DutyFreePraxe.Models.Products>

@{
}

    <link rel="stylesheet" href="~/css/Admin.css">

<h2 class="other">List of products</h2>

<a class="product" asp-area="" asp-controller="Admin" asp-action="Insert">Add new product</a>

@* The total amount of elements in the array *@
<p class="other">Total amount of products: <b class="other">@Model.Count()</b></p>

<table class="table other">
    <thead>
        <tr>
            <th>
                Produkt
            </th>
            <th>
                @* obrazek *@
            </th>
            <th>
                Cena za ks
            </th>
            <th>
                Pocet na skladě
            </th>
            <th>
                @* Button1 *@
            </th>
            <th>
                @* ˇButton2 *@
            </th>

        </tr>
    </thead>
    <tbody>
        <tr>
                <td>
                    <input type="text" name="" id="" placeholder="Productname"> <!--Product name-->
                </td>
                <td>
                     <input type="text" name="" id="" placeholder="Image URL"> <!--Picture-->
                </td>
                <td>
                    <input type="text" name="" id="" placeholder="Price"> <!--Price-->
                </td>
                <td>
                    <input type="text" name="" id="" placeholder="Quantity"> <!--Quantity-->
                </td>
                <td>
                    <input class="product" type="submit" value="Submit" /><!--<button class="edit">Submit</button> Submit button-->
                </td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img height="100" src=@Html.DisplayFor(modelItem => item.ImageUrl) />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <button class="edit">Edit</button>
                </td>
                <td>
                    <button class="delete">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
