@* import model as an array *@
@model DutyFreePraxe.Models.Products

@{
}

<link rel="stylesheet" href="~/css/Admin.css">

<h1 class="other">Add new product</h1>

@using (Html.BeginForm("Insert", "Admin", FormMethod.Post))
{
    <table class="other" cellpadding="0" cellspacing="0">
    <tr>
        <th colspan="2" align="center">Person Details</th>
    </tr>
    <tr>
        <td>Product name: </td>
        <td>
            @Html.TextBoxFor(m => m.Name)
        </td>
    </tr>
    <tr>
        <td>Img URL: </td>
        <td>
            @Html.TextBoxFor(m => m.ImageUrl)
        </td>
    </tr>
    <tr>
        <td>Price:</td>
        <td>
            @Html.TextBoxFor(m => m.Price)
        </td>
    </tr>
    <tr>
        <td>Quantity: </td>
        <td>
            @Html.TextBoxFor(m => m.Quantity)
        </td>
    </tr>
    <tr>
        <td><input class="product" type="submit" value="Submit" /></td>
    </tr>
</table>
}