@model IEnumerable<DutyFreePraxe.Models.Products>

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="~/css/index.css">
</head>

<div class="text-center">
    <h1 class="headerMain">DUTY<sub>FREE</sub></h1>
</div>


<!--Code bellow creates a card for each product in the Database-->
<div class="row row-cols-1 row-cols-md-4 g-4">
            @foreach (var item in Model)

    {
            <div class="col">
                    <div class="card text-center " style="background-color:#c9c9c9;">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img class="imgsize" src="@Html.DisplayFor(modelItem => item.ImageUrl)" class="img-fluid"/>
                                <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>
                            </div>

                            <div class="cardzise card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                                <p class="card-text">
                                <bold>Cena:</bold> @Html.DisplayFor(modelItem => item.Price) <br/>
                                <bold>Na skladě:</bold> @Html.DisplayFor(modelItem => item.Quantity)<br/>
                                </p>

                                <button type="button" class="buttonpos btn btn-primary">Objednat</button>
                            </div>
                    </div>
            </div>
    }
</div>


