@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/index.css">
</head>

<div class="text-center">
    <h1 class="display-4">DUTY<sub>FREE</sub></h1>
</div>

<div class="text-center">
    <p>Na co máš chuť?</p>
</div>