@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/index.css">
</head>

<div class="text-center header1">
    <h1>DUTY<sub>FREE</sub></h1>
</div>

<div class="text-center header2">
    <p>Na co máš chuť?</p>
</div>