@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="~/css/index.css">
</head>

<div class="text-center">
    <h1 class="headerMain">DUTY<sub>FREE</sub></h1>
</div>

<div class="text-center header2">
    <p>Na co máš chuť?</p>
</div>