.edit {
    border-radius: 8px;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    color: rgb(55, 55, 55);
    border: 0px;
    text-align: center center;
    font-weight: bold;


}
.edit:hover {
    border-radius: 8px;
    background-color: rgb(47, 140, 73);
    font-family: 'Quicksand', sans-serif;
    color: white;
    border: 0px;
    transition-duration: 220ms;
    text-align: center center;
    font-weight: bold;

}

.delete {
    border-radius: 8px;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    color: rgb(0, 0, 0);
    border: 0px;
    text-align: center center;
    font-weight: bold;
    
}
.delete:hover {
    border-radius: 8px;
    background-color: orangered;
    font-family: 'Quicksand', sans-serif;
    color: white;
    border: 0px;
    transition-duration: 220ms;
    text-align: center center;
    font-weight: bold;
    
}
.product {
    border-radius: 8px;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    color: rgb(0, 0, 0);
    border: 0px;
    text-align: center center;
    padding: 4px 6px;
    margin-left: -5px;
    text-decoration: none;
    font-weight: bold;
    
}
.product:hover {
    border-radius: 8px;
    background-color: rgb(47, 140, 73);
    font-family: 'Quicksand', sans-serif;
    color: white;
    border: 0px;
    transition-duration: 220ms;
    text-align: center center;
    padding: 4px 6px;
    margin-left: -5px;
    text-decoration: none;
    font-weight: bold;

}
.other {
    font-family: 'Quicksand', sans-serif;
}