
.headerMain {
    margin-top: 5vw;
    margin-bottom: 9vw;
    font-family: 'Quicksand', sans-serif;
    font-size: 9vw;
    text-align: center;


}

.header2  {
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    
}

body {
    background-image: url(https://images.pexels.com/photos/2103947/pexels-photo-2103947.jpeg?cs=srgb&dl=pexels-alexander-mils-2103947.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
    background-position: 50% 12%;
    background-position: top;
    
}

.whitebox {
    background-color: white;
    background-position: 15% 50%;
}
