html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.quickfont {
  font-family: 'Quicksand', sans-serif;
  font-size: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 0.5vw;
  margin-top: 0.5vw;
}

.menufont {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  color: black;
}
.menufont:hover {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  color: rgb(232, 97, 7);
}